@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Sora', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

nav img {
    width: 120px;
    margin-left: 30px;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 5%;
    z-index: 2;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    font-size: 1.4rem;
    color: #000;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: all .5s ease;
}

nav ul li a:hover {
    color: #1155de;
}

.activeb {
    background-color: #1162ff;
    color: #fff;
    padding: 1.4rem 2rem;
    transition: all .5s ease;
}

.activeb:hover {
    background-color: #1155de;
    color: #fff;
}

.hamburger {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 10;
    display: none;
}

.hambar {
    height: 2px;
    position: absolute;
    width: 31px;
    background-color: #000;
    transition: all .5s ease;
    border-radius: 10px;
}

.hambar:first-child {
    top: 20px;
    transition: all .5s ease;
}

.hambar:last-child {
    bottom: 20px;
    transition: all .5s ease;
}

.hamburger.active .hambar:first-child {
    top: initial;
    transform: rotate(-135deg);
}

.hamburger.active .hambar:last-child {
    bottom: initial;
    transform: rotate(135deg);
}

.hamburger.active .hambar:nth-child(2) {
    opacity: 0;
}

/* hero */
#hero {
    background-color: #1b1e25;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero_text {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 560px;
    height: fit-content;
    margin-right: 30px;
}

.hero_text h3 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.hero_text h1 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero_text h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 40px;
    font-weight: 400;
}

.hero_buttons {
    display: flex;
    flex-wrap: wrap;
}

.hero_buttons a {
    font-size: 1.4rem;
    text-align: center;
    padding: 1.5rem 3rem;
    background-color: #1162ff;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
}

.hero_buttons a:first-child {
    padding: 1.5rem 3rem;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.hero_img {
    display: flex;
    flex-direction: column;
}

.heroimg {
    width: 400px;
    height: 492px;
    border-radius: 10px;
}

.heroimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Ideas */
#ideas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 100px 0;
}

.ideas {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ideabox {
    padding: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #e4e4e4;
    flex-basis: 23%;
    flex-direction: column;
    border-radius: 10px;
}

.ideabox p {
    color: #3e4246;
    font-size: 1.3rem;
    align-self: flex-end;
    justify-self: flex-end;
    width: 85%;
    line-height: 25px;
}

.ideaimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ideaimg img {
    width: 24px;
    height: 24px;
    margin: 10px;
}

.ideaimg h1 {
    font-size: 2rem;
    font-weight: 500;
}

/* Toolstack */
#toolstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 70px 0;
}

.toolstack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.tooltext {
    width: 540px;
}

.tooltext h1 {
    font-size: 3.4rem;
    padding-bottom: 20px;
}

.tooltext p {
    font-size: 1.5rem;
    color: #3e4246;
    line-height: 25px;
}

.toolimg {
    width: 513px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.timg {
    flex-basis: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timg h2 {
    color: #3e4246;
    font-weight: 400;
}

.timg img {
    width: 41px;
    height: 41px;
    margin: 10px;
}

/* Professional Work */
#work {
    height: fit-content;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.professionalwork {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.professionalwork h1 {
    font-size: 3.5rem;
}

.professionalwork a {
    font-size: 1.3rem;
    font-weight: 400;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1.5rem 2.5rem;
    text-align: center;
    letter-spacing: 1px;
}

.workgrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "workbox1 workbox2"
        "workbox3 workbox4";
    grid-gap: 20px;
    min-height: 800px;
}

.workbox1 {
    grid-area: workbox1;
}

.workbox2 {
    grid-area: workbox2;
}

.workbox3 {
    grid-area: workbox3;
}

.workbox4 {
    grid-area: workbox4;
}

.workbox {
    border-radius: 10px;
    background-color: #1b1e25;
    overflow: hidden;
    height: fit-content;
}

.workbox .workboximg {
    width: 100%;
    height: 70%;
    transition: all .5s ease;
}

.workboximg {
    overflow: hidden;
}

.workboximg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all .5s ease;
}

.workbox h1 {
    font-size: 2rem;
    padding: 20px;
    color: #fff;
    line-height: 33px;
}

.workbox h2 {
    font-size: 1.6rem;
    color: #fff;
    padding: 10px 20px 50px 20px;
    font-weight: 500;
}

.workbox:hover .workboximg img {
    transform: scale(1.2);
}

.workboxtext {
    overflow: hidden;
    height: 200px;
}

/* Testimonials */
#testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.testimonials {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonials_text {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    padding: 30px 0;
}

.testimonialsflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Tbox {
    flex-basis: 23%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid grey;
}

.Tbox h1 {
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 0;
}

.Tbox p {
    font-size: 1.4rem;
    color: #3e4246;
    padding-bottom: 10px;
}

.Tbox img {
    width: 75%;
    padding: 5px 0;
}

/* Review */
#review {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.review {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewimg {
    border-radius: 4px;
    width: 48%;
    max-width: 560px;
    max-height: 373px;
    margin-right: 30px;
}

.reviewtext {
    width: 48%;
}

.reviewtext h1 {
    font-size: 2.4rem;
    text-align: left;
    color: #1b1e25;
}

.reviewtext p {
    text-align: left;
    font-size: 1.4rem;
    color: #3e4246;
    padding-top: 20px;
    line-height: 28px;
}
/* Connect */
#connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b1e25;
    padding: 40px 0 0 0;
}
.connect{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:70px 0;
}
.connect h1{
    font-size:3.4rem ;
    font-weight:700 ;
    color: #fff
}
.connect h4{
    font-size: 1.6rem;
    padding: 30px 0;
    color: #fff;
    font-weight: 400;
    width: 500px;
    line-height: 25px;
    text-align: center;
}
.connect .connectbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.connectbtn a{
    font-size:1.4rem ;
    color: #000;
    font-weight: 300;
    padding: 1.5rem 0rem;
    transition: all .5s ease;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 220px;
}
.connectbtn a:last-child{
    background-color: #1162ff;
    color: #fff;
    margin-left: 20px;
    width: 220px;
}
.connectbtn a:last-child:hover{
    background-color: #0e54e0;
}
.footertext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0 0 0;
}
.footertext div:first-child {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
}
.footertext div:first-child a {
    color: #1162ff;
}
.footertext div:last-child ul{
    list-style: none;
    color: #fff;
    display: flex;
}
.footertext div:last-child ul li{
    margin-right: 20px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}
.footertext div:last-child ul li span{
    color: #0e54e0;
    font-size: 2rem;
    padding-left: 10px;
}
.footertext div:last-child ul li:last-child{
    margin: 0;
}

@media screen and (max-width:990px) {
    nav ul {
        flex-direction: column;
        position: fixed;
        top: -700px;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        padding: 30px 0;
        transition: all .5s ease;
        background-color: #fff;
        z-index: 2;
    }

    nav.active ul {
        top: 70px;
    }

    nav ul li {
        margin: 2rem 0;
    }

    .activeb {
        padding: 1.5rem 10rem;
    }

    .hamburger {
        display: inherit;
    }

    .heroimg {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .ideabox {
        flex-basis: 48%;
        margin-top: 20px;
    }

    .toolstack {
        flex-direction: column;
    }

    .toolimg {
        margin-top: 30px;
        width: 80%;
    }

    .tooltext {
        width: 80%;
    }

    .Tbox {
        flex-basis: 48.5%;
        margin-top: 20px;
    }

    .review {
        flex-direction: column-reverse;
    }

    .reviewtext {
        width: 560px;
    }

    .reviewimg {
        margin: 0;
        margin-top: 30px;
        width: 90%;
    }
    .footertext{
        flex-direction: column-reverse;
    }
    .footertext div:first-child{
        margin-top: 23px;
        text-align: center;
    }
    .footertext div:last-child ul{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width:857px) {
    .workbox h1 {
        font-size: 1.8rem;
    }

    .workbox .workboximg {
        width: 100%;
        height: 55%;
    }

    .workbox {
        height: fit-content;
    }

    .workbox h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width:768px) {
    .hero {
        flex-direction: column;
    }

    .heroimg {
        margin: 10px;
        max-width: 400px;
        max-height: 492px;
    }

    .hero_text {
        margin: 40px 10px;
        width: 90%;
    }

    .hero_text h1 {
        font-size: 3.6rem;
    }

    .hero_buttons {
        width: 100%;
    }

    .hero_buttons a, .hero_buttons a:first-child {
        padding: 20px 0;
        text-align: center;
        width: 45%;
    }

    .hero_img {
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .ideabox {
        flex-basis: 100%;
    }

    .ideabox p {
        padding-left: 30px;
        width: 100%;
    }

    .workgrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "workbox1 "
            "workbox2"
            "workbox3"
            "workbox4";
    }

    .professionalwork h1 {
        font-size: 3rem;
    }

    .testimonialsflex {
        align-items: center;
        justify-content: center;
    }

    .Tbox {
        flex-basis: 90%;
    }

    .Tbox img {
        width: 50%;
    }
    .reviewtext{
        width: 100%;
    }
    .reviewtext h1{
        font-size: 2rem;
    }
    .connect h4{width: 80%;}

}

@media screen and (max-width:500px) {
    .hero_buttons {
        flex-direction: column;
    }

    .hero_buttons a, .hero_buttons a:first-child {
        width: 100%;
    }

    .hero_text h1 {
        font-size: 3rem;
    }

    .hero_text h2 {
        font-size: 1.4rem;
    }

    .timg {
        flex-basis: 48%;
    }

    .toolimg {
        width: 100%;
    }

    .timg h2 {
        font-size: 1.3rem;
    }

    .professionalwork h1 {
        font-size: 2.3rem;
    }
    .connectbtn{
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .connectbtn a{
        width: 100% !important;
        margin-top: 20px;
    }
    .connectbtn a:last-child{
       margin-left: 0;
        margin-top: 20px;
    }
    .connect h4{
        width: 90%;
    }
}

@media screen and (max-width:400px) {
    .workbox h1 {
        font-size: 1.8rem;
    }

    .professionalwork {
        flex-direction: column;
    }

    .professionalwork h1 {
        padding-bottom: 30px;
    }

    .professionalwork a {
        width: 100%;
        padding: 2rem 0;
    }

    .Tbox img {
        width: 70%;
    }

    .testimonials_text {
        font-size: 3rem;
    }
}
